<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>
		<!-- ###HEADER_PARTS### begin -->
		<!-- ###HEADER_PARTS### end -->
	</head>
	<body>
		<!-- ###LOGIN_LINK### begin -->
		<div class="globalLinksLogin">
			<a href="###LOGINHANDLERURL###">Login</a>
			<span class="myAccountOverlay">
				<p>
					<a href="https://evento-web.phz.ch/" target="_blank">Evento-Web</a><br />
					<a href="http://moodle.phz.ch/" target="_blank">Moodle</a><br />
					<a href="http://www.luzern.phz.ch/extranet/" target="_blank">Extranet</a><br />
					<a href="http://mail.phz.ch" target="_blank">Webmail MA/Doz</a><br />
					<a href="http://webmail.phz.ch/src/login.php" target="_blank">Webmail Studierende</a><br />
					<a href="http://www.phlu.ch/campus/emenu/" target="_blank">e-menu</a><br />
					<a href="https://sap.hslu.ch/sap/bc/gui/sap/its/webgui?sap-client=500" target="_blank">SAP / ProTime</a>
					<a href="http://ict.luzern.phz.ch/" target="_blank">ICT-Website</a>
				</p>
			</span>
		</div>
		<!-- ###LOGIN_LINK### end -->

		<!-- ###LOGIN_SUCCESS### begin -->
		<div class="globalLinksLogin">
			<a href="#">Konto</a>
			<span class="myAccountOverlay">
				Angemeldet als ###DISPLAY_NAME###<br />
				<a href="###LOGOUT_URL###">Logout</a>
				<hr />
				<p>
					<a href="https://evento-web.phz.ch/" target="_blank">Evento-Web</a><br />
					<a href="http://moodle.phz.ch/" target="_blank">Moodle</a><br />
					<a href="http://www.luzern.phz.ch/extranet/" target="_blank">Extranet</a><br />
					<a href="http://mail.phz.ch" target="_blank">Webmail MA/Doz</a><br />
					<a href="http://webmail.phz.ch/src/login.php" target="_blank">Webmail Studierende</a><br />
					<a href="http://www.phlu.ch/campus/emenu/" target="_blank">e-menu</a><br />
					<a href="https://sap.hslu.ch/sap/bc/gui/sap/its/webgui?sap-client=500" target="_blank">SAP / ProTime</a>
					<a href="http://ict.luzern.phz.ch/" target="_blank">ICT-Website</a>
				</p>
			</span>
		</div>
		<!-- ###LOGIN_SUCCESS### end -->

	</body>
</html>