<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>
		<!-- ###HEADER_PARTS### begin -->
		<link rel="stylesheet" type="text/css" href="###SITE_REL_PATH###resources/css/phzldap.css" />
		<!-- ###HEADER_PARTS### end -->			
	</head>
	<body>
		<!-- ###LOGIN_FORM### begin -->
		<div class="tx_phzldap">
			<form action="###URL###" method="post">
				###MESSAGE###
				<div class="type-text">
					<label for="tx_phzldap_username">###USERNAME###</label>
					<input type="text" name="tx_phzldap_username" id="tx_phzldap_username"></input>
				</div>
				<div class="type-password">
					<label for="tx_phzldap_password">###PASSWORD###</label>
					<input type="password" name="tx_phzldap_password" id="tx_phzldap_password"></input>
				</div>
				<div class="type-submit">
					<input type="submit" name="tx_phzldap_submit" value="###SUBMIT###" />
				</div>
			</form>
		</div>
		<!-- ###LOGIN_FORM### end -->
	</body>
</html>